* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1395px;
  margin: 0 auto;
}

/* ! Header */

header .row {
  width: 100%;
  height: 65px;
  background: rgb(13, 38, 59);
  color: #fff;
}

header .row nav {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .row nav ul {
  display: flex;
  gap: 64px;
}

header .row nav ul li {
  list-style: none;
}

header .row nav ul a {
  text-decoration: none;
  color: #fff;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
}

/* ! Main */

main {
  width: 100%;
  height: 708px;
}

main .login {
  width: 580px;
  height: 666px;
  margin: 64px auto;
  border: 1px solid rgb(230, 233, 236);
  border-radius: 3px;
  box-shadow: 0px 10px 30px 0px rgba(13, 38, 59, 0.05);
  background: rgb(255, 255, 255);
  padding: 24px 30px;
}

main .login form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

main .login form h2 {
  color: rgb(13, 38, 59);
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
}

main .login form .int {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(230, 233, 236);
  padding: 5px 0;
}

main .login form .color {
  color: rgb(105, 105, 105);
}

main .login form .btnr {
  border: none;
  padding: 12px 40px 12px 40px;
  border-radius: 2px;
  background: rgb(0, 97, 223);
  color: #fff;
  cursor: pointer;
}

/* ! Footer */

footer {
  width: 100%;
  height: 450px;
  background-color: rgb(13, 38, 59);
  color: #fff;
}

footer .card-block {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 50px;
}

footer .bottom-info {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

footer .bottom-info .bi-end {
  display: flex;
  align-items: center;
  gap: 50px;
}

footer .bottom-info .bi-end p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
}

footer .bottom-info .bi-end span {
  display: block;
  width: 45px;
  height: 45px;
  background: rgb(0, 97, 223);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .card-block .lists h2 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}

footer .card-block .lists ul li {
  list-style: none;
  color: rgb(180, 178, 178);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

footer .card-block .lists ul li span {
  font-size: 20px;
  padding-right: 20px;
}
